<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Banana</string>
	<string>Melancia</string>
	<string>Limao</string>
	<string>Melao</string>
	<string>Goiaba</string>
	<string>Maça</string>
	<string>Laranja</string>
	<string>Manga</string>
	<string>Morango</string>
	<string>Kiwi</string>
	<string>Mixirica</string>
</array>
</plist>
